Source: torcs
Section: games
Priority: optional
Maintainer: Rudy Godoy <rudy@stone-head.org>
Build-Depends: debhelper (>= 7.0), libgl1-mesa-dev, libplib-dev, freeglut3-dev (>= 2.2.0), libpng12-dev (>= 1.2.8), zlib1g-dev (>= 1.2.1.1), libx11-dev (>= 6.8.2), libxt-dev (>= 6.8.2), libxmu-dev (>= 6.8.2), libxxf86vm-dev (>= 6.8.2), cdbs, libopenal-dev, libalut-dev (>= 1.0.0), libxi-dev, libxrender-dev, libxrandr-dev, autoconf, automake, libtool, libvorbis-dev
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/pkg-games/torcs.git
Homepage: http://torcs.org

Package: torcs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, torcs-data (>= 1.3.3)
Description: 3D racing cars simulator game using OpenGL
 TORCS, The Open Racing Car Simulator is a car racing simulation which
 allows you to drive in races against opponents simulated by the computer.
 You can also develop your own computer-controlled driver (also called a
 robot) in C or C++. TORCS is GPL (version 2 or later).
 .
 Hardware requirements are at least 550MHZ CPU, 256MB RAM and 32 MB
 OpenGL 1.3 compatible graphics card (with 3D accel preferred) in order to
 fully enjoy the game.


Package: torcs-data
Architecture: all
Recommends: torcs (>= 1.3.3)
Depends:  ${misc:Depends}, torcs-data-tracks (>= 1.3.3), torcs-data-cars (>= 1.3.3)
Replaces: torcs-data-cars (<< 1.3.3), torcs (<< 1.3.3)
Breaks: torcs (<< 1.3.3)
Description: base data files for TORCS game
 TORCS, The Open Racing Car Simulator is a car racing simulation which
 allows you to drive in races against opponents simulated by the computer.
 .
 This package includes basic data files for the game. Additionally it includes
 one car: Ferrari 360 Modena.
 .
 Website: http://torcs.org


Package: torcs-data-cars
Architecture: all
Recommends: torcs (>= 1.3.3)
Depends:  ${misc:Depends}
Conflicts: torcs-data-cars-extra
Replaces: torcs-data-cars-extra (<< 1.3.3), torcs-data (<< 1.3.3)
Breaks: torcs-data (<< 1.3.3)
Description: data files for TORCS game - Cars set
 TORCS, The Open Racing Car Simulator is a car racing simulation which
 allows you to drive in races against opponents simulated by the computer.
 .
 This package includes the following cars for the game.
  - Alfa Romeo 155 (DTM)
  - Honda Acura NSX SZ
  - Baja Bug
  - Buggy
  - Mercedes CLK (DTM)
  - Ford GT40
  - Lotus GT1
  - McLaren F1
  - Peugeot 406
  - Porsche GT1
  - Porsche GT3RS
  - Viper GTS-R
  - Jaguar XJ220
  - Nascar RWD
  - Althea X2 GTS
 .
 Website: http://torcs.org


Package: torcs-data-tracks
Architecture: all
Depends: ${misc:Depends}
Recommends: torcs (>= 1.3.3)
Replaces: torcs-data-tracks (<< 1.3.3)
Description: data files for TORCS game - Tracks set
 TORCS, The Open Racing Car Simulator is a car racing simulation which
 allows you to drive in races against opponents simulated by the computer.
 .
 This package includes the following tracks for the game.
  - 13 road tracks
  - 9 oval tracks
  - 8 dirt tracks
 .
 Website: http://torcs.org
